name: Check and Test
on:
  push:
  pull_request:
    types: [opened]

jobs:
  check:
    name: check
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install rust
        uses: ./.github/actions/install-rust

      - name: check
        uses: ./.github/actions/check

  test:
    name: test ${{ matrix.target }}
    runs-on: ${{ matrix.runner  }}
    needs: check
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            runner: ubuntu-latest
            bootstrap: sudo apt-get update && sudo apt-get install -y libssl-dev pkg-config

          - target: aarch64-unknown-linux-gnu
            runner: ubuntu-latest

          - target: x86_64-apple-darwin
            runner: macos-15-intel

          - target: aarch64-apple-darwin
            runner: macos-latest
            bootstrap: echo "OPENSSL_DIR=$(brew --prefix openssl@3)" >> $GITHUB_ENV

          - target: x86_64-pc-windows-msvc
            runner: windows-latest

          - target: aarch64-pc-windows-msvc
            runner: windows-11-arm

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install rust
        uses: ./.github/actions/install-rust
        with:
          targets: "${{ matrix.target }}"

      - name: install cargo nextest
        uses: ./.github/actions/install-nextest

      - name: bootstrap
        if: ${{ matrix.bootstrap != '' }}
        run: ${{ matrix.bootstrap }}

      - name: test
        run: cargo nextest run --workspace
