name: Release
run-name: Building release ${{ inputs.version }}
on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version (same for all binaries)"
        required: true

jobs:
  check:
    name: check
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install rust
        uses: ./.github/actions/install-rust

      - name: check
        uses: ./.github/actions/check

  setup:
    runs-on: ubuntu-latest
    needs: check
    outputs:
      matrix: ${{ steps.set-matrix.outputs.result }}
    steps:
      - id: set-matrix
        uses: actions/github-script@v8
        with:
          script: |
            const packages = ["zed-settings-sync", "zed-settings-sync-lsp"];
            const runners = [
              {
                "target": "x86_64-unknown-linux-gnu",
                "runner": "ubuntu-latest",
                "bootstrap": "sudo apt-get update && sudo apt-get install -y libssl-dev pkg-config"
              },

              {
                "target": "aarch64-unknown-linux-gnu",
                "runner": "ubuntu-latest",
                "bootstrap": `
                  sudo apt-get update
                  sudo apt-get -y install podman
                  cargo install cross
                  cargo clean
                  echo "CARGO_BINARY=cross" >> $GITHUB_ENV
                  `
              },

              {
                "target": "x86_64-apple-darwin",
                "runner": "macos-15-intel",
              },

              {
                "target": "aarch64-apple-darwin",
                "runner": "macos-latest",
                "bootstrap": "echo \"OPENSSL_DIR=$(brew --prefix openssl@3)\" >> $GITHUB_ENV"
              },

              {
                "target": "x86_64-pc-windows-msvc",
                "runner": "windows-latest",
              },

              {
                "target": "aarch64-pc-windows-msvc",
                "runner": "windows-11-arm",
              }
            ];

            return packages.flatMap(pkg =>
              runners.map(runner => ({
                ...runner,
                package_name: pkg
              }))
            );

  compile:
    name: compile ${{ matrix.package_name }} ${{ matrix.target }}
    runs-on: ${{ matrix.runner }}
    # needs: check
    needs: setup
    strategy:
      fail-fast: true
      # matrix:
      #   package_name: ["zed-settings-sync", "zed-settings-sync-lsp"]
      #   include:
      #     - target: x86_64-unknown-linux-gnu
      #       runner: ubuntu-latest
      #       bootstrap: sudo apt-get update && sudo apt-get install -y libssl-dev pkg-config

      #     - target: aarch64-unknown-linux-gnu
      #       runner: ubuntu-latest
      #       bootstrap: |
      #         sudo apt-get update
      #         sudo apt-get -y install podman
      #         cargo install cross
      #         cargo clean
      #         echo "CARGO_BINARY=cross" >> $GITHUB_ENV

      #     - target: x86_64-apple-darwin
      #       runner: macos-15-intel

      #     - target: aarch64-apple-darwin
      #       runner: macos-latest
      #       bootstrap: echo "OPENSSL_DIR=$(brew --prefix openssl@3)" >> $GITHUB_ENV

      #     - target: x86_64-pc-windows-msvc
      #       runner: windows-latest

      #     - target: aarch64-pc-windows-msvc
      #       runner: windows-11-arm
      matrix:
        include: ${{ fromJson(needs.setup.outputs.matrix) }}
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install rust
        uses: ./.github/actions/install-rust
        with:
          targets: "${{ matrix.target }}"

      # - name: version check
      #   uses: ./.github/actions/version-check
      #   with:
      #     package_name: ${{ matrix.package_name }}
      #     version: ${{ inputs.version }}

      - name: version check
        shell: bash
        run: |
          echo "Checking version of ${{ matrix.package_name }} to be ${{ inputs.version }}..."
          [[ $(cargo metadata --no-deps --format-version=1 | jq -r '.packages[] | select(.name == "${{ matrix.package_name }}") | .version' -j) = '${{ inputs.version }}' ]]

      - name: bootstrap
        if: ${{ matrix.bootstrap != '' }}
        run: ${{ matrix.bootstrap }}

      - name: build binary
        shell: bash
        run: ${CARGO_BINARY:-cargo} build -p ${{ matrix.package_name }} --verbose --locked --release --target ${{ matrix.target }}

      - name: prepare for upload
        shell: bash
        id: vars
        run: |
          BIN_SUFFIX=""
          if [[ "${{ matrix.runner }}" == "windows-latest" || "${{ matrix.runner }}" == "windows-11-arm" ]]; then
            BIN_SUFFIX=".exe"
          fi

          BIN_OUTPUT="target/${{ matrix.target }}/release/${{ matrix.package_name }}${BIN_SUFFIX}"
          ARCHIVE_NAME="${{ matrix.package_name }}-${{ matrix.target }}"

          mkdir tmp/
          mkdir "tmp/${ARCHIVE_NAME}"

          mv "${BIN_OUTPUT}" "tmp/${ARCHIVE_NAME}"
          cp LICENSE.txt "tmp/${ARCHIVE_NAME}"

          if [[ "${{ matrix.runner }}" == "windows-latest" || "${{ matrix.runner }}" == "windows-11-arm" ]]; then
            ARCHIVE_PATH="tmp/${ARCHIVE_NAME}.zip"
            cd tmp
            7z a "../${ARCHIVE_PATH}" "${ARCHIVE_NAME}"
            cd ..
          else
            ARCHIVE_PATH="tmp/${ARCHIVE_NAME}.tar.gz"
            tar -czvf "${ARCHIVE_PATH}" -C "tmp" "${ARCHIVE_NAME}"
          fi

          echo "archive_name=${ARCHIVE_NAME}" >> $GITHUB_OUTPUT
          echo "archive_path=${ARCHIVE_PATH}" >> $GITHUB_OUTPUT

      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.vars.outputs.archive_name }}
          path: |
            ${{ steps.vars.outputs.archive_path }}

  release:
    name: release
    runs-on: ubuntu-latest
    needs: compile
    permissions:
      contents: write
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Create the release
        uses: softprops/action-gh-release@c062e08bd532815e2082a85e87e3ef29c3e6d191
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ inputs.version }}
          name: v${{ inputs.version }}
          draft: true
          files: |
            artifacts/**/*
